.formWrapper {
   display: flex;
   flex-direction: column;
   row-gap: 18.3rem;
   align-items: center;
   max-width: 45rem;
   padding: 0 16px;
}
.form {
   width: 100%;
}

.form_login {
   .btn {
      margin-top: 5rem;
   }
}
.form_register {
   .btn {
      margin-top: 8rem;
   }
}

.form__col {
   display: flex;
   flex-direction: column;
   row-gap: 4.7rem;
}
.form__box {
   display: block;
   position: relative;
}
.form__input {
   display: block;
   width: 45rem;
   height: 4rem;
   border-bottom: 0.5px solid #c0c0c0;

   font-size: 1.6rem;

   &::placeholder {
      color: #c0c0c0;
      font-size: 16px;
   }

   transition: border-bottom 0.15s ease-in-out;

   &:focus {
      border-bottom: 0.5px solid $primary-color;
   }
}

.form__input_psw {
   padding-right: 34px;
}
.form__eye {
   display: none;
   width: 24px;
   height: 24px;

   position: absolute;
   top: 50%;
   right: 0px;
   transform: translateY(-50%);
   cursor: pointer;
}
.eyeChoosen {
   display: inline-block;
}

.link {
   display: inline-block;
   margin-top: 1.6rem;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.68;
   color: $primary-color !important;
   cursor: pointer;
}
.btn {
   width: 100%;
   padding: 10px 32px !important;

   &:disabled {
      background-color: #b4b0da;
      cursor: default;
   }
}

.btnLight {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 4.4rem;

   background-color: $white-color;
   border-radius: 80px;

   span {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: $primary-color;
   }

   transition: background-color 0.15s ease-in-out;

   &:hover,
   &:active {
      background-color: $primary-color;

      span {
         color: $white-color;
      }
   }
}

.passForm {
   max-width: 45rem;
   .passForm__col {
      display: flex;
      flex-direction: column;
      row-gap: 4.2rem;
   }
   .btn {
      margin-top: 4.4rem;
   }
}

.passForm__top {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 3.8rem;
}
.passForm__img {
   margin-left: auto;
   margin-right: auto;
}

.passForm__title {
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
   color: #494949;
   margin-bottom: 8px;
}

.passForm__descr {
   max-width: 34.3rem;
   text-align: center;
   font-size: 16px;
   line-height: 1.2;
   color: #c0c0c0;
}
