.title {
   font-size: 4.8rem;
   font-weight: 700;
   margin-bottom: 7.2rem;
}

.list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2.4rem;

   @media (max-width: 1100px) {
      justify-content: center;
   }
}

@media (max-width: 600px) {
   .title {
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 900;
   }
   .list {
      column-gap: 13px;
      row-gap: 12px;
   }
}

@media (max-width: 414px) {
   .list {
      row-gap: 15px;
   }
}
