// Base
@import './base/vars';
@import './base/reset';
@import './base/fonts';
@import './base/base';

// Blocks
@import './blocks/btns';
@import './blocks/slider';
@import './blocks/tel-input';
