.card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 10px;
   padding: 2rem;
   background-color: $white-color;

   &__img {
      flex-shrink: 0;
      width: 8rem;
      height: 8rem;
      object-fit: cover;
   }

   .card__content {
      display: flex;
      align-items: center;
      column-gap: 10px;
   }

   &__box {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      h3 {
         font-size: 2rem;
         margin-bottom: 5px;
      }
   }

   &__name {
      font-size: 2rem;
      font-weight: 500;
   }

   &__descr {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
   }

   &__item {
   }

   .btn {
      flex-shrink: 0;
      height: 5rem;

      padding: 0 1rem;

      span {
         font-size: 1.8rem;
      }
   }
}
