.card {
   display: inline-flex;
   width: 28.2rem;
   height: 28.2rem;
   flex-shrink: 0;

   border-radius: 2rem;
   background-color: rgb(211, 211, 211);
   background-position: 50% 50%;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;

   div {
      margin-top: auto;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);

      padding: 1.2rem 1.6rem;
      font-size: 2rem;
      font-weight: 700;
      color: $white-color;
   }

   @media (max-width: 600px) {
      width: 185px;
      height: 185px;

      div {
         padding: 12px;
         font-size: 14px;
         font-weight: 600;
      }
   }

   @media (max-width: 414px) {
      width: 100%;
      height: 200px;
   }
}
