.slider {
   .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.4rem;
   }

   .btns {
      display: inline-flex;
      align-items: center;
      column-gap: 2rem;

      button {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         flex-shrink: 0;

         width: 5.6rem;
         height: 5.6rem;
         border-radius: 50%;
         border: 1px solid $common-gray;
         overflow: hidden;

         svg {
            width: 2.5rem;
            height: 1.6rem;

            path {
               fill: $black-color;
            }
         }
      }
   }

   h2 {
      font-size: 4.8rem;
      font-weight: 700;
   }
}

.carousel {
   overflow: hidden;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 7.2rem;

   .inner {
      display: flex;
      align-items: center;
      column-gap: 2.4rem;

      white-space: nowrap;
      transition: transform 0.3s;
      margin-bottom: 2rem;
   }

   .indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
   }

   button {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      background-color: #b9b1ff;
      border-radius: 50%;
      overflow: hidden;

      transition: width 0.15s ease-in-out;
   }

   .activeBtn {
      width: 40px;
      border-radius: 10px;
   }
}
