.slider {
   width: 100%;
   .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.4rem;
   }

   .btns {
      display: inline-flex;
      align-items: center;
      column-gap: 2rem;

      button {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         flex-shrink: 0;

         width: 5.6rem;
         height: 5.6rem;
         border-radius: 50%;
         border: 1px solid $common-gray;
         overflow: hidden;

         svg {
            width: 2.5rem;
            height: 1.6rem;

            path {
               fill: $black-color;
            }
         }

         transition: background-color 0.15s ease-in-out;

         &:hover,
         &:active {
            background-color: #b2aafd;

            svg {
               path {
                  fill: $white-color;
               }
            }
         }

         &:disabled {
            background-color: #f6f5f5;
            cursor: default;

            &:hover,
            &:active {
               background-color: #f6f5f5;

               svg {
                  path {
                     fill: $black-color;
                  }
               }
            }
         }
      }
   }

   h2 {
      font-size: 4.8rem;
      font-weight: 700;
   }
}

.swiperWrapper {
   margin-top: 6.4rem;
}
