.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;

   h2 {
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: 700;
   }
}
