.card {
   display: inline-flex;
   width: 38.4rem;
   height: 29rem;
   flex-shrink: 0;

   border-radius: 2rem;
   background-color: rgb(211, 211, 211);
   background-position: 50% 50%;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;

   .title {
      margin-top: auto;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);

      padding: 1.2rem 1.6rem;
      font-size: 2.8rem;
      font-weight: 700;
      color: $white-color;
   }

   @media (max-width: 600px) {
      width: 335px;
      height: 254px;

      .title {
         padding: 16px;
         font-size: 20px;
         font-weight: 600;
      }
   }

   @media (max-width: 360px) {
      width: 100%;
   }
}
