.swiper-slide {
   max-width: 38.4rem;
}

.swiper-pagination {
   display: none !important;
   align-items: center;
   justify-content: center;
   column-gap: 10px;
   margin-top: 16px;
}

.swiper-pagination-bullet {
   width: 16px;
   height: 16px;
   flex-shrink: 0;
   background-color: #b9b1ff;
   border-radius: 50%;
   overflow: hidden;

   transition: width 0.15s ease-in-out;
}

.swiper-pagination-bullet-active {
   width: 50px;
   border-radius: 10px;
   background-color: #897cff;
}

@media (max-width: 900px) {
   .swiper-pagination {
      display: flex !important;
   }

   .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
   }

   .swiper-pagination-bullet-active {
      width: 30px;
   }
}

@media (max-width: 600px) {
   .swiper-slide {
      width: 335px;
      height: 254px;
   }

   .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
   }

   .swiper-pagination-bullet-active {
      width: 23px;
   }
}

@media (max-width: 360px) {
   .swiper-slide {
      width: 100%;
      height: auto;
   }
}
