.PhoneInput {
   display: flex;
   align-items: center;
   column-gap: 10px;
   width: 100%;
   height: 6.4rem;
   padding: 0 20px;
   border-radius: 10rem;
   border: 1px solid #636363;
   overflow: hidden;
}

.PhoneInputInput {
   font-size: 18px;
   font-weight: 400;
}

.PhoneInputCountry {
   display: flex;
   align-items: center;
   column-gap: 8px;
   margin-right: 0;
}

.PhoneInputCountryIcon {
   width: 24px;
   height: 24px;
}

.PhoneInputCountrySelectArrow {
   width: 8px;
   height: 8px;
   border-color: #000;
   border-bottom-width: 2px;
   border-right-width: 2px;
   opacity: 1;
}

.PhoneInputCountryIcon--border {
   border: none;
   background-color: transparent;
   box-shadow: none;
}

.PhoneInputCountryIcon--border {
   border: unset;
}

.phoneInput {
   .PhoneInputCountryIconImg {
      display: none;
   }
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
   box-shadow: none;
}

.PhoneInputCountrySelect {
   option:first-child {
      display: none;
   }
}

@media (max-width: 600px) {
   .PhoneInput {
      height: 50px;
      padding: 0 16px;
   }

   .PhoneInputInput {
      font-size: 16px;
   }
}
