.content {
   display: flex;
   flex-direction: column;
   row-gap: 3.2rem;
   padding-bottom: 1.6rem;

   h2 {
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
   }

   @media (max-width: 600px) {
      h2 {
         font-size: 30px !important;
      }
   }
   @media (max-width: 460px) {
      h2 {
         font-size: 24px !important;
      }
   }
}
