.modal {
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.35);
   position: fixed;
   top: 0;
   left: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   pointer-events: none;
   transition: 0.2s;

   .content {
      max-height: 90vh;
      max-width: 614px;
      width: 100%;
      padding: 40px;
      border-radius: 48px;
      background-color: $white-color;
      transform: scale(0.5);
      transition: 0.15s;

      overflow-y: auto;
   }

   &.active {
      opacity: 1;
      pointer-events: all;

      .content {
         transform: scale(1);
      }
   }

   @media (max-width: 600px) {
      align-items: end;
      justify-content: baseline;

      .content {
         border-radius: 28px 28px 0 0;
         padding: 20px;
      }
   }
}
