.review {
   display: flex;
   flex-direction: column;
   row-gap: 16px;
   .row {
      display: flex;
      align-items: center;
      column-gap: 8px;

      h6 {
         font-weight: 500;
      }
   }
   .img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;

      img {
         object-fit: contain;
      }
   }
   .descr {
      line-height: 1.22;
   }
}
