.categories {
   display: flex;
   align-items: center;
   column-gap: 4.8rem;

   overflow-y: hidden;
   overflow-x: auto;
   white-space: nowrap;
   scrollbar-width: none;
   scroll-behavior: smooth;

   .category {
      padding: 10px 10px 18px;

      font-family: 'SF Pro Display', sans-serif;
      font-size: 2.4rem;
      transition: color 0.15s ease-in, font-weight 0.15s ease-in;

      &:after {
         content: '';
         transition: all 0.2s ease-in;
      }
   }

   .active {
      color: $primary-color;
      text-shadow: 0 0 1px $primary-color;
      position: relative;

      &:after {
         content: '';
         position: absolute;
         bottom: 0px;
         left: 50%;
         transform: translateX(-50%);

         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: $primary-color;
      }
   }
}
